@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* Bloque navbar */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.Inicio {
  min-height: 100vh;
  width: 100vw;
  background-color: #DBDADA;
  font-family: 'Times New Roman', Times, serif; 
}


header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding-top: 50px;    
  padding-bottom: 10px; 
  padding-left: 20px; 
  padding-right: 20px;
  margin: 0 100px;
  border-bottom: 2.5px solid #000; 
  
}


.EchoHead {
  font-family: 'Fredoka One', cursive; 
  font-weight: 500;
  margin-bottom: 0;
  color: #000;
  font-size: 2.7rem;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  gap: 40px; 
}

.datos-user {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.FotoPerfil {
  width: 60px; 
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.username {
  font-family: 'Fredoka One';
  font-size: 1.7rem;
}


header > div:last-child {
  display: flex;
  align-items: center;
  gap: 100px; 
}

.BotonBusqueda {
  width: 35px;
  cursor: pointer;
}

a {
  cursor: pointer;
  font-family: 'Fredoka One';
  font-size: 1.7rem;
}

.aboutus {
  cursor: pointer;
  font-family: 'source serif pro';
  font-size: 1.7rem;
}

a:hover {
  opacity: 0.4; 
}


/* Bloque de contenido principal */
.h1 {
  font-family: 'playfair display'  serif;
  font-size: 3.5rem;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #000;
  text-align: center;
}

/* Artistas */
.artistas {
  margin-top: 50px;
  padding: 0 50px;
}

.encabezado-artistas {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: #000 solid 2.5px;
  margin-bottom: 30px;
  margin-left: 80px;
  margin-right: 80px;
}

.artistas-momento {
  font-family: 'playfair display'  serif;
  font-weight: 400;
  font-size: 2.0rem;
  color: #000;
}

p {
  font-family: 'playfair display'  serif;
  font-size: 1.5rem;
  color: #000;
  cursor: pointer;
}


.contenedor-cuadros {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  gap: 40px; 
  padding: 0;        
  overflow-x: auto; 
  margin-right: 60px;
}

.cuadro-artista {
  background-color: #d1d1d1; 
  padding: 15px 15px 60px 15px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; 
  box-shadow: 7px 15px 8px rgba(0, 0, 0, 0.08); 
  width: 300px; 
  height: 360px;
  border-radius: 4px; 
  margin-left: 80px;
  margin-top: 40px;
}

.cuadro-artista img {
  width: 230px; 
  height: 230px;
  border-radius: 30px; 
  object-fit: cover; 
}

.artistname {
  font-family: 'Playfair Display', Times, serif; 
  font-size: 1.6rem;
  margin-top: 20px;
  color: #000;
}

.artistrank {
  position: absolute; 
  bottom: 0; 
  left: 0;   
  background-color: #7F66E2; 
  color: #000;
  font-family: 'Fredoka One', cursive; 
  font-size: 2.0rem;
  font-weight: bold;
  padding: 5px 15px; 
}