@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.login-echohead {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #DBDADA;
}


.login-imagen {
  flex: 1; 
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.imagen-fondo {
  width: 90%;
  height: 100%;
  object-fit: cover; 
  object-position: center; 
}

.contenido-login {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
}

.titulo-echohead {
  font-size: 8rem;
  font-family: fredoka one;
  font-weight: 500;
  margin-bottom: 0;
  color: #000;
}

.hola {
  font-size: 5rem;
  font-weight: normal;
  font-family: playfair display, serif;
  margin-top: 50px;
  margin-bottom: 0;
  color: #000;
}

.texto {
  font-size: 3rem;
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: playfair display, serif;
  color: #333;
}

.spoify-logo {
  margin-bottom: 50px;
}

.spotify-img {
  width: 150px;
  height: 150px;
  
}

.login-button {
  background-color: #121212;
  color: white;
  padding: 15px 50px;
  font-size: 2.5rem;
  border: none;
  border-radius: 80px;
  cursor: pointer;
  font-family: 'playfair display';
}

.login-button:hover {
  background-color: #58cd3b;
}